body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0;

}
.first-border{
    border-left: 4px solid;
    padding-left: 10px;
    border-color:#ff9999;
    border-image-slice: 1;
}
.flexbox-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 60%;
}
.first-color{
    color: #ff8080;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua,#8080ff);
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 70px;
    
}
.link-button-flex{
    margin-bottom: 40px;
}
.misson-2022{
    text-align: center;
}
.tomato-color{
    color: tomato;
}
.flex-container{
    display: flex;
    padding-left: 13%;
    
}
.illu1 img{
    width: 40%;
}
.illu2 img{
    width: 40%;
}
.illu3 img{
    width: 40%;
}
.flex1{
    background-color: thistle;
    padding: 10px;
    max-width: 25%;
    border-radius: 10px;
    margin: 10px;
}
.flex2{
    background-color: cadetblue;
    padding: 10px;
    max-width: 25%;
    border-radius: 10px;
    margin: 10px;
}
.flex3{
    background-color: aquamarine;
    padding: 10px;
    max-width: 25%;
    border-radius: 10px;
    margin: 10px;
}
.section3{
    display: flex;
    margin-bottom: 50px;
}
.half-width2 img{
    width: 60%;
    padding-left: 32%;
}
.half-width2{
    width: 50%;
    padding-right: 10%;
    padding-top: 5%;
}
.section4{
    display: flex;
}
.foot{
    text-align: center;
    color: blanchedalmond;
    
    
}
#foot-color{
    height: 100px;
    padding-top: 5%;
    background-color: black;
   
}
.foot-p{
    text-align: center;
    color: blanchedalmond;
    font-size: x-small;
}